# Claude Code
.claude/

# OS fayllari
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
venv/
.env

# Database
*.db
*.sqlite3
*.postgres

# Alembic
alembic.ini

# Logs
*.log

# App specific
uploads/
